$main: #4DB4D7;
$selected: #0076BE;

.pet-container {
    display: flex;
    margin-block: 30px;
    width: 330px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $main;
    transition: all 0.25s ease-in-out;
    padding-block: 10px;

    .pet-icon-wrapper {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 80px;

        .pet-icon {
            height: 56px;
            width: 56px;
            background-color: white;
            border-radius: 50%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .pet-description {
        padding-right: 5px;

        .pet-name {
            font-size: 24px;
            text-decoration: underline;
            margin-bottom: 3px;
        }
        .pet-stats {
            display: flex;
            flex-wrap: wrap;

            .pet-stat {
                margin-bottom: 3px;
                width: 50%;
                padding-right: 10px;
                display: flex;
                justify-content: space-between;

                .pet-stat-text {
                    font-weight: bold;
                }
            }
        }
    }

    &.selected {
        background-color: $selected;
    }
}