.perk-slot {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid;


        img {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 50%;

            &.common {
                box-shadow: 0 0px 5px 2px green;
            }

            &.rare {
                box-shadow: 0 0px 5px 2px blue;
            }

            &.epic {
                box-shadow: 0 0px 5px 2px purple;
            }

            &.legendary {
                box-shadow: 0 0px 5px 2px red;
            }
        }
}