<div class="page-wrapper">
    <div class="header">Pet Race</div>
    <div *ngIf="roomLoaded" class="content">
        <div class="player-name">{{playerData.name}}</div>
        <div *ngIf="state === 'Lobby'">
            <div *ngIf="!playerData.pet" class="pets-container">
                <app-pet-container *ngFor="let pet of mockPets" [petData]="pet" [selected]="pet === highlightedPet"
                    (click)="highlightPet(pet)"></app-pet-container>
            </div>
        </div>
        <div *ngIf="state === 'Loadout' && !this.playerData.isReady" class="loadout-wrapper">
            <div class="perks-container" [ngClass]="{'hide': loadoutPage !== 1}">
                <div class="currency-display">
                    <div class="currency"> <img src="assets/PetRace/coin.svg"><span>{{playerData.coins}}</span></div>
                    <button *ngIf="playerData.freeRerolls <= 0" [ngClass]="{'disabled': playerData.coins <= 0}" (click)="reroll()"><span>1</span><img class="coin-img" src="assets/PetRace/coin.svg"><img class="reroll-img" src="assets/PetRace/reroll.svg"></button>
                    <button *ngIf="playerData.freeRerolls > 0" (click)="reroll()"><span>{{playerData.freeRerolls}}x Free</span><img class="reroll-img" src="assets/PetRace/reroll.svg"></button>
                </div>
                <app-perk-container *ngFor="let perk of perksSelectionPerks" [perkData]="perk"
                    [selected]="perk === highlightedPerk" (click)="highlightPerk(perk)"></app-perk-container>
            </div>
            <div class="loadout-inventory" [ngClass]="{'hide': loadoutPage !== 2}">
                <div class="perk-slots">
                    <app-equip-perk-container [equippedPerk]="playerData.pet!.perks[0]"
                        (click)="selectPerk(playerData.pet!.perks[0])"></app-equip-perk-container>
                    <app-equip-perk-container [equippedPerk]="playerData.pet!.perks[1]"
                        (click)="selectPerk(playerData.pet!.perks[1])"></app-equip-perk-container>
                    <app-equip-perk-container [equippedPerk]="playerData.pet!.perks[2]"
                        (click)="selectPerk(playerData.pet!.perks[2])"></app-equip-perk-container>
                    <app-equip-perk-container [equippedPerk]="playerData.pet!.perks[3]"
                        (click)="selectPerk(playerData.pet!.perks[3])"></app-equip-perk-container>
                    <app-equip-perk-container [equippedPerk]="playerData.pet!.perks[4]"
                        (click)="selectPerk(playerData.pet!.perks[4])"></app-equip-perk-container>
                </div>
                <div class="perk-inventory">
                    <div class="inventory-perks">
                        <div *ngFor="let perk of playerData.inventoryPerks" class="inventory-perk-wrapper"
                            (click)="selectPerk(perk)">
                            <img class="inventory-perk"
                                [ngClass]="{'common': perk.rarity === 'Common', 'rare':  perk.rarity === 'Rare', 'epic':  perk.rarity === 'Epic', 'legendary':  perk.rarity === 'Legendary'}"
                                src="assets/PetRace/perk{{perk.id}}.png">
                        </div>
                    </div>
                    <div class="perk-description-container">
                        <div *ngIf="selectedPerk" class="perk-icon-wrapper"
                            [ngClass]="{'common': selectedPerk.rarity === 'Common', 'rare':  selectedPerk.rarity === 'Rare', 'epic':  selectedPerk.rarity === 'Epic', 'legendary':  selectedPerk.rarity === 'Legendary'}">
                            <div class="perk-level-wrapper">
                                <div *ngFor="let n of descriptionPerkLevels" class="perk-level"></div>
                            </div>
                            <img class="perk-icon" src="assets/PetRace/perk{{selectedPerk.id}}.png">
                        </div>
                        <div *ngIf="selectedPerk" class="perk-description-wrapper"
                            [innerHTML]="selectedPerk.description | petRacePerkDescription:selectedPerk.level!">
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-container-wrapper" [ngClass]="{'hide': loadoutPage !== 3}">
                <div class="summary-container">
                    <div class="turn">Turn: {{turnNo}}</div>
                    <div class="pet-icon-wrapper">
                        <img src="assets/PetRace/pet{{playerData.pet!.modelNo}}.png">
                    </div>
                    <div class="score">Score: <span class="value">{{playerData.score}}</span></div>
                    <div class="subtitle">Base Stats</div>
                    <div class="label-value">Movement Speed: <span class="value">{{playerData.pet!.movementSpeed | number}}m/s</span></div>
                    <div class="label-value">Obstacle Dodge: <span class="value">{{playerData.pet!.dodge | number}}%</span></div>
                    <div class="label-value">Base stamina regen: <span class="value"> {{playerData.pet!.regen | number}}/s</span></div>
                    <div class="label-value">Base stamina depletion: <span class="value"> {{playerData.pet!.depletion | number}}/s</span></div>
                </div>
            </div>
        </div>
        <div *ngIf="state === 'Race'" class="perks-container">
            <div>Race in progress</div>
        </div>
    </div>
    <div *ngIf="state === 'Lobby'" class="footer">
        <div class="button-wrapper">
            <button *ngIf="!this.playerData.pet" [ngClass]="{'disabled': isSelectPetDisabled()}"
                (click)="petClick()">Select</button>
        </div>
    </div>
    <div *ngIf="state === 'Loadout' && !this.playerData.isReady" class="footer">
        <div class="button-wrapper" *ngIf="loadoutPage === 1">
            <button (click)="freezePerk()" [ngClass]="{'disabled': !this.highlightedPerk}">Lock</button>
            <button *ngIf="playerData.perkSelectionPerks.length > 0" [ngClass]="{'disabled': isSelectPerkDisabled()}"
                (click)="perkClick()">Buy</button>
            <div class="nav-button next-button" (click)="navigateLoadout(1)">
                <img src="assets/PetRace/arrow.svg">
            </div>
        </div>

        <div class="button-wrapper" *ngIf="loadoutPage === 2">
            <div class="nav-button prev-button" (click)="navigateLoadout(-1)">
                <img src="assets/PetRace/arrow.svg">
            </div>
            <button
                [ngClass]="{'disabled': isLoadoutButtonDisabled()}"
                (click)="loadoutButtonClick()">{{setLoadoutButtonText()}}</button>
                <div class="nav-button next-button" (click)="navigateLoadout(1)">
                    <img src="assets/PetRace/arrow.svg">
                </div>
        </div>

        <div class="button-wrapper" *ngIf="loadoutPage === 3">
            <div class="nav-button prev-button" (click)="navigateLoadout(-1)">
                <img src="assets/PetRace/arrow.svg">
            </div>
            <button (click)="setReady(true)"
                [ngClass]="{'disabled': playerData.isReady}">Ready</button>
        </div>
    </div>
</div>
<!-- Music by <a href="https://pixabay.com/users/saavane-32312792/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=139641">saavane</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=139641">Pixabay</a> -->