$main: #4DB4D7;
$selected: #0076BE;

.perk-container {
    display: flex;
    height: 100px;
    margin-block: 30px;
    width: 330px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $main;
    transition: all 0.25s ease-in-out;

    .perk-icon-wrapper {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 100px;

        .perk-icon {
            position: relative;
            height: 64px;
            width: 64px;
            background-color: white;
            border-radius: 50%;

            .perk-icon-image {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
            
            .perk-stars-container {
                position: relative;
                bottom: 5px;
                display: flex;
                justify-content: center;

                .perk-star-container {
                    flex-shrink: 0;
                    height: 15px;
                    width: 16px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            &.common {
                box-shadow: 0 0px 20px 5px green;
            }

            &.rare {
                box-shadow: 0 0px 20px 5px blue;
            }

            &.epic {
                box-shadow: 0 0px 20px 5px purple;
            }

            &.legendary {
                box-shadow: 0 0px 20px 5px red;
            }
        }
    }
    .description-side {
        padding-block: 5px;
        overflow: auto;
        .perk-name {
            font-size: 20px;
            font-weight: bold;
            text-decoration: underline;
        }

        .perk-description {
            padding-block: 5px;
            padding-right: 10px;
            overflow: auto;
        }
    }

    &.selected {
        background-color: $selected;
    }
}