$main: #4DB4D7;
$selected: #0076BE;
$frozen: #c6d403;

.perk-container {
    display: flex;
    height: 100px;
    margin-bottom: 15px;
    width: 330px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $main;
    transition: all 0.25s ease-in-out;

    .perk-icon-wrapper {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        padding: 15px 10px;

        .perk-level-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
            width: 10px;
            height: 100%;
            border-radius: 20px;
            background-color: white;
            overflow: hidden;
            padding: 2px;

            .perk-level {
                border-top: 1px solid white;
                height: 20%;
                width: 100%;
                border-radius: 10px;
            }

            .perk-level:first-child {
                animation-name: level-breathe;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in-out;
            }

            @keyframes level-breathe {
              from {opacity: 1;}
              to {opacity: 0;}
            }
        }

        .perk-icon {
            position: relative;
            height: 64px;
            width: 64px;
            background-color: white;
            border-radius: 50%;

            .perk-icon-image {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }

            .perk-stars-container {
                position: relative;
                bottom: 5px;
                display: flex;
                justify-content: center;

                .perk-star-container {
                    flex-shrink: 0;
                    height: 15px;
                    width: 16px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        &.common {
            .perk-level-wrapper {
                outline: 2px solid green;

                .perk-level {
                    background-color: green;
                }
            }

            .perk-icon {
                border: 3px solid green;
            }

        }

        &.rare {
            .perk-level-wrapper {
                outline: 2px solid blue;

                .perk-level {
                    background-color: blue;
                }
            }

            .perk-icon {
                border: 3px solid blue;
            }

        }

        &.epic {
            .perk-level-wrapper {
                outline: 2px solid purple;

                .perk-level {
                    background-color: purple;
                }
            }

            .perk-icon {
                border: 3px solid purple;
            }

        }

        &.legendary {
            .perk-level-wrapper {
                outline: 2px solid red;

                .perk-level {
                    background-color: red;
                }
            }

            .perk-icon {
                border: 3px solid red;
            }

        }
    }

    .description-side {
        padding-block: 5px;
        overflow: auto;

        .perk-header {
            display: flex;
            justify-content: space-between;

            .perk-name {
                font-size: 20px;
                font-weight: bold;
                text-decoration: underline;
            }

            .perk-cost {
                display: flex;
                margin-right: 15px;
                img {
                    margin-left: 5px;
                    height: 24px;
                    width: 20px;
                }
            }
        }

        .perk-description {
            padding-block: 5px;
            padding-right: 10px;
            overflow: auto;

            .perk-description-stats {
                color: grey;
                font-size: 14px;

                .perk-description-highlighted-stat {
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
    }

    &.selected {
        background-color: $selected;
    }

    &.frozen {
        box-shadow: 0 0 2px 5px $frozen;
    }
}