<div class="perk-container" [ngClass]="{'selected': selected, 'frozen': perkData.frozen}">
    <div class="perk-icon-wrapper"
        [ngClass]="{'common': perkData.rarity === 'Common', 'rare':  perkData.rarity === 'Rare', 'epic':  perkData.rarity === 'Epic', 'legendary':  perkData.rarity === 'Legendary'}">
        <div class="perk-level-wrapper">
            <div *ngFor="let n of levels" class="perk-level"></div>
        </div>
        <div class="perk-icon">
            <img class="perk-icon-image" src="assets/PetRace/perk{{perkData.id}}.png">
        </div>
    </div>
    <div class="description-side">
        <div class="perk-header">
            <div class="perk-name">{{perkData.name}}</div>
            <div class="perk-cost">4<img src="assets/PetRace/coin.svg"></div>
        </div>
        <div [innerHTML]="perkData.description | petRacePerkDescription:perkData.level! + 1"></div>
    </div>
</div>